<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272227775433-37i7gcn9hr2el7nbph90s93me7o0c6ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272227775433-37i7gcn9hr2el7nbph90s93me7o0c6ig</string>
	<key>API_KEY</key>
	<string>AIzaSyA5KEZC48Bcd4K3e0-iMDqhgZPjQbSwSA8</string>
	<key>GCM_SENDER_ID</key>
	<string>272227775433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ManovJain</string>
	<key>PROJECT_ID</key>
	<string>anim-d3087</string>
	<key>STORAGE_BUCKET</key>
	<string>anim-d3087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272227775433:ios:861c20b57441933dbaee18</string>
	<key>DATABASE_URL</key>
	<string>https://anim-d3087.firebaseio.com</string>
</dict>
</plist>