<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290404350727-5jhekpr6fcrd021s2dlfakp0nde7mvgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290404350727-5jhekpr6fcrd021s2dlfakp0nde7mvgl</string>
	<key>API_KEY</key>
	<string>AIzaSyAPNPQOrNjK78bBqr6wA93eDXREHmvLDsE</string>
	<key>GCM_SENDER_ID</key>
	<string>290404350727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.animapp</string>
	<key>PROJECT_ID</key>
	<string>anim-1d478</string>
	<key>STORAGE_BUCKET</key>
	<string>anim-1d478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290404350727:ios:f9070251e1b1ade142a3a2</string>
	<key>DATABASE_URL</key>
	<string>https://anim-1d478.firebaseio.com</string>
</dict>
</plist>